            body {           
                color: #5e5e5e;
				background-color: #ffffff;
				background-position: center;
				font-family:"微軟正黑體","Times New Roman",Georgia,Serif;
				line-height: 1.4em;
				margin: 0px;
                background-image: url(../img/html_bg.gif);
			}
            #wrapper {
                /*-moz-box-shadow:  0 0 15px #777777;
				-webkit-box-shadow:  0 0 15px #777777;
				box-shadow:  0 0 15px #777777;*/
                min-height:700px;
				margin: 18px auto 0px auto;
                text-align: center; 
            
            }
            #header{
                 -moz-box-shadow: inset 0 0 10px #777777;
				-webkit-box-shadow: inset 0 0 10px #777777;
				color: #ffffff;
				background-color: #232629;
                height: 30px;
				text-align: center;
                padding-top: 25px;
                padding-bottom:  100px;
            }