        table {
    
        }
        th, td {
            height: 60px;
            min-width: 100px;
            text-align:center;
        }
        .center {    
            margin:auto;
            width: 640px;
            text-align: center;
        }
        a  {
            text-decoration:none;
        }
        a:hover{
            text-decoration:underline;}
        }